/* Global Layout */
body {
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 100px;
}

/* Navigation bar */
.navbar-custom {
  background-color: #f8f9fa;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

/* Links */
.links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

/* Footer */
.footer {
  background-color: #daa520;
  color: #000;
  border-radius: 1.5rem 1.5rem 0 0;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}